@import './mixins.css';

@svg 1px-border {
  height: 4px;
  width: 4px;

  @rect {
    @mixin fullsize;
    fill: var(--color, black);
    stroke-width: 25%;
  }
}

@svg square {
  height: 1px;

  @rect {
    @mixin fullsize;
    fill: var(--color, black);
  }
}

[aspectratio] {
  position: relative;
}

[aspectratio]::before {
  content: '';
  display: block;
  width: 1px;
  margin-left: -1px;
  height: 0;
}

[aspectratio-content] {
  position: absolute;
  @mixin flexbox;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

[w-184-23] {
  width: 184px;
}

[w-184-23] {
  aspect-ratio: '184:23';
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
button[disabled],
input[type="submit"],
input[type="reset"] {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus {
  outline: none;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18*/
  color: #e8e8e8;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+*/
  color: #e8e8e8;
}

input:-ms-input-placeholder {
  color: #e8e8e8;
}

input::-webkit-input-placeholder {
  color: #e8e8e8;
}

ul,
li {
  margin: 0;
  padding-inline-start: 0px;
  list-style: none;
}

ol {
  padding-inline-start: 0px;
}

[w-10-14] {
  font-size: 10px;
  line-height: 14px;
}

.w1014::after {
  display: block;
  font-size: 20px;
  line-height: 28px;
  transform: scale(0.5);
}

[w-11-11] {
  font-size: 11px;
  line-height: 11px;
}

[w-11-15] {
  font-size: 11px;
  line-height: 15px;
}

[w-12-16] {
  font-size: 12px;
  line-height: 16px;
}

[w-12-17] {
  font-size: 12px;
  line-height: 17px;
}

[w-14-20] {
  font-size: 14px;
  line-height: 20px;
}

[w-16-19] {
  font-size: 16px;
  line-height: 19px;
}

[w-16-22] {
  font-size: 16px;
  line-height: 22px;
}

[w-17-24] {
  font-size: 17px;
  line-height: 24px;
}

[w-18-20] {
  font-size: 18px;
  line-height: 20px;
}

[w-18-25] {
  font-size: 18px;
  line-height: 25px;
}

[w-30-44] {
  font-size: 30px;
  line-height: 44px;
}

[w-21-29] {
  font-size: 21px;
  line-height: 29px;
}

[w-28-40] {
  font-size: 28px;
  line-height: 40px;
}

[w-40-52] {
  font-size: 40px;
  line-height: 52px;
}

[c-333] {
  color: #333;
}

[c-999] {
  color: #999;
}

[c-org] {
  color: #FFA14E;
}

[c-b8b8b8] {
  color: #b8b8b8;
}

[c-blu] {
  color: #507daf;
}

[c-fff] {
  color: #fff;
}

.date {
  position: relative;
}

.mybutton {
  position: relative;
  border-radius: 50px;
  border: 1px solid transparent;
  color: #fff;
  background: transparent;
  outline: none;
  cursor: pointer;
}

@media only screen and (-webkit-device-pixel-ratio: 1) {
  .mybutton::after {
    @mixin fullsize;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 100px;
  }
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  .mybutton::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    width: 200%;
    height: 200%;
    border: 1px solid #fff;
    transform: scale(0.5);
    transform-origin: -1px -1px;
    border-radius: 50px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .mybutton::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    width: 300%;
    height: 300%;
    border: 2px solid #fff;
    transform: scale(0.3333);
    transform-origin: 0 0;
    border-radius: 150px;
  }
}

button:active {
  transform: scale(1.05);
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
