@define-mixin bg $url {
  background-image: url($(url));
  background-size: cover;
}

@custom-media --small-viewport (max-width: 320px);

@define-mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@define-mixin fullsize {
  height: 100%;
  width: 100%;
}

@define-mixin awardwrap {
  width: 80px;
  height: 80px;
  border-radius: 23px;
}
